<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Password Reset Confirmation</title>
  </head>
  <body>
    <h2>Hello {{userName}},</h2>
    <p>Your password has been successfully reset.</p>
    <p>If this was not you, please contact support immediately.</p>
    <br/>
    <p>Best regards,<br/>Your App Team</p>
  </body>
</html>
